* {
  margin: 0;
  padding: 0;
  font-family: 'Protest Revolution';
}


body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  background-color: #418191;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
}

.hover:hover {
  cursor: pointer;
}

#main-container {
  width: 50vw;
  height: 93vh;
  border: 2px solid black;
  box-shadow: 1px -2px 50px 5px #040024;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  background-color: #418191;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");

}

#main-container>h1 {
  position: relative;
  right: 20px;
  font-style: italic;
  color: #290c5d;
  margin-top: 45px;
  font-size: 55px;
  font-weight: 800;
}

.input {
  display: flex;
  gap: 5px;
}

#input::placeholder {
  color: #290c5d;
  font-weight: 800;
}

#input {
  width: 420px;
  padding: 5px;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 2px;
  border: 3px solid #290c5d;
  border-radius: 10px;
  outline: none;
  color: #290c5d;
  background-color: #418191;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
}

button,
.icon {
  position: relative;
  right: 38px;
  border: none;
  font-weight: 900;
  font-size: 30px;
  width: 32px;
  border-radius: 0px 10px 10px 0px;
  height: 38px;
  background-color: #290c5d;
  color: white;
}

.icon-img {
  position: relative;
  left: -1px;
}

.todos-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.sub-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

#check {
  font-size: 15px;
  font-weight: 800;
  letter-spacing: 2px;
  color: #290c5d;
  position: relative;
  right: 165px;
}

.todos {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  overflow-x: scroll;
}

.todos::-webkit-scrollbar {
  display: none;
}

.card {
  position: relative;
  right: 15px;
  width: 100%;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 75px;
}

.md {
  margin-right: 15px;
}

.todo {
  width: 30%;
  height: 40px;
  display: flex;
  flex-direction: column;
}

ul {
  margin-bottom: 25px;
}

.todo li {
  padding: 5px;
  font-size: 25px;
  font-weight: 800;
  font-style: italic;
  color: #290c5d;
  text-transform: capitalize;
}

p {
  font-weight: 800;
  font-size: 12px;
  font-style: italic;
  color: #290c5d;
}

.icons {
  font-weight: 900;
  font-size: 30px;
  color: #290c5d;
}

@media only screen and (max-width:1115px) {
  #main-container>h1 {
    font-size: 40px;
    margin-right: 15px;
  }

  #main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  #input {
    width: 320px;
    height: 18px;
    font-weight: 800;
    font-size: 15px;
  }


  .radio,
  #check {
    position: relative;
    left: -65px;
    font-size: 12px;
  }

  .card {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .todos {
    width: 70%;
    display: flex;
    overflow: hidden;
    gap: 0px;
  }

  .todo li {
    font-size: 15px;
    text-wrap: nowrap;
  }

  ul>p {
    font-size: 8px;
  }

  .icons {
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 20px;
    color: #290c5d;
  }

  button,
  .icon {
    height: 32px;
    font-size: 12px;
    font-weight: 300;
  }

}

@media only screen and (max-width:850px) {
  body {
    /* height: 100%;
    width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #main-container>h1 {
    font-size: 25px;
    position: relative;
    right: 8px;
  }

  #main-container {
    padding: 15px;
    height: 95vh;
    width: 50vw;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  #input {
    width: 220px;
    height: 18px;
    font-weight: 800;
    font-size: 12px;
  }

  .card {
    position: none;
    display: flex;
    gap: 65px;
  }

  .radio,
  #check {
    position: relative;
    left: -40px;
    font-size: 12px;
  }

  .todos {
    display: flex;
    position: relative;
    left: 10px;
  }

  .todo li {
    font-size: 15px;
  }

  ul>p {
    font-size: 8px;
  }

  .icons {
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 22px;
    color: #290c5d;
  }

  button,
  .icon {
    height: 32px;
    font-size: 12px;
    font-weight: 100;
  }

}

@media only screen and (max-width:600px) {
  body {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    background: none;
  }

  #main-container>h1 {
    font-size: 25px;
    position: relative;
    right: 25px;
  }

  #main-container {
    width: 100vw;
    height: 100%;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  #input {
    width: 240px;
    height: 18px;
    font-weight: 100;
    font-size: 16px;
  }

  .card {
    position: none;
    display: flex;
    gap: 85px;
  }

  .radio>input {
    height: 8px;
  }

  .radio,
  #check {
    position: relative;
    left: -48px;
    font-size: 10px;
  }

  .todos {
    display: flex;
    gap: 0px;
    height: 100vh;
  }

  .todo li {
    font-size: 18px;
    width: 150px;
  }

  ul>p {
    font-size: 8px;
    width: 150px;
  }

  .icons {
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 22px;
    color: #290c5d;
  }

  button,
  .icon {
    height: 32px;
    font-size: 12px;
    font-weight: 100;
  }

}

@media only screen and (max-width:499px) {
  body {
    width: 100%;
    height: 100%;
    /* background: none; */
  }

  #main-container>h1 {
    font-size: 25px;
    position: relative;
    left: -8px;
  }

  #main-container {
    width: 100vw;
    height: 100vh;
    margin-top: 0px;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }

  #input {
    position: relative;
    left: 15px;
    width: 220px;
    height: 18px;
    font-weight: 100;
    font-size: 16px;
  }

  button,
  .icon {
    position: relative;
    right: 23px;
  }

  .card {
    position: none;
    display: flex;
    gap: 85px;
  }

  .radio>input {
    height: 8px;
  }

  .radio,
  #check {
    position: relative;
    left: -37px;
    font-size: 10px;
  }


  .todos {
    display: flex;
    position: relative;
    left: 25px;
    height: 100vh;
  }

  .todo li {
    font-size: 18px;
  }

  ul>p {
    font-size: 8px;
  }

  .icons {
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 22px;
    color: #290c5d;
  }

  button,
  .icon {
    height: 32px;
    font-size: 12px;
    font-weight: 100;
  }

}